<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Real Estate Market Analytics</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <div class="container">

        <header class="hero">
            <h1>🏠 Real Estate Market Analytics</h1>
            <p>
                Interactive Real Estate Market Analysis Dashboard
            </p>
        </header>

        <section class="welcome">
            <h2>Dashboard</h2>
            <p>
                Analyze property prices, locations, BHK,
                area and other real estate trends.
            </p>
        </section>

    </div>

</body>
</html>